body{
	font-family: 'Play', sans-serif !important;
	background-color: #f7f7f7;
	padding: 0;
	margin: 0;
}
.jumbotron{
	background: url("../src/background.jpg") no-repeat;
	height: 600px;
	background-size: 100%;
	margin-bottom: 0;
	margin-top: 10px;
}
h1{
	color: lightgray !important;
}
blockquote{
	font-size: 14px;
}

.header{
	display: none;
	
}
blockquote{
	margin-bottom: 0;
	background-color: #eee;
	border: 1px solid lightgrey;
	border-radius: 10px;
}
.content1, .content2, .humor, .interests, .carousel-photos-pluto, .middle-photos {
	background-color: #eee;
	border: 1px solid lightgrey;
	border-radius: 10px;
	padding: 10px;
	margin: 10px 0;
}

#accordion .panel .class-for-background-interests{
	background-color: #CCDEE1;
/*	border: 1px solid gray;
	margin: -1px;*/
}
.thumbnail{
	padding: 5px;
}

.footer{
	background-color: #eee;
	border-radius: 10px;
	border: 1px solid lightgray;
	list-style: none;

}
.footer a{
	display: block;
	padding: 8px 14px;
    text-decoration: none;
    color: black;
    margin-left: -3px;
}
.footer b{
	display: block;
	padding: 8px 14px;
    text-decoration: none;
    color: black;
}

.footer ul li{
	display: inline-block;
	border-right: 1px solid lightgray;
	font-size: 18px;
}
.footer ul li:first-child{
	padding-right: 20px;
	height: 100%;

}

.footer ul{
	margin: 0;
}
.link-hover{
	background-color: #CCDEE1;
}

.panel-title a{
	display: block;
	padding: 10px 15px;
	text-decoration: none;
}

.thumbnail{
	min-height: 280px;						/*под очень большим сомнением, но через % размер работать отказывается*/
}

.thumbnail-hover{
	background-color: #CCDEE1;
}

							/*Для теста, удалить*/
.top-func-buttons-menu{
	position: fixed;
	right: 4%;
	opacity: 0.6;
	top: -1px;
}
.top-func-buttons-menu:hover{
	opacity: 1;
}


.top-func-buttons{
	border: 1px solid rgba(0, 0, 0, 0.2);
	padding: 10px;
	display: inline-block;
	background-color: white;
	color: rgba(0, 0, 0, 0.2);
	border-radius: 0px;
	margin-top: -1px;

}
.top-func-buttons:hover{
	color: black;
	background-color: white;
}
.power-switch{
	border-bottom-left-radius: 7px;
}
.move-to-top{
	border-bottom-right-radius: 7px;
	margin-left: -1px;
}

.btn-default:active:hover,
.btn-default.active:hover
{
  color: black;
  background-color: white;
  border-color: rgba(0, 0, 0, 0.2);
}
.move-to-top a{
	color: rgba(0, 0, 0, 0.2);
}

.move-to-top a:hover{
	color: black;
}

/*блок для переключения на ночной стиль*/

.night-style-body{
	background: #2f2f2f;
    color: #c6c6c6;
}
.night-style-content{
	background-color: #202020;
	color: (255, 255, 255, 0.8);
	border-color: black;
}