body{
	font-family: 'Play', sans-serif !important;
	background-color: #f7f7f7;
	padding: 0;
	margin: 0;
}
.jumbotron{
	background: url("../src/background.jpg") no-repeat;
	height: 600px;
	background-size: 100%;
	margin-bottom: 0;
	margin-top: 10px;
}
h1{
	color: lightgray !important;
}
blockquote{
	font-size: 14px;
}

.header{
	display: none;
	
}
blockquote{
	margin-bottom: 0;
	background-color: #eee;
	border: 1px solid lightgrey;
	border-radius: 10px;
}
.content1, .content2, .humor, .interests, .carousel-photos-pluto, .middle-photos {
	background-color: #eee;
	border: 1px solid lightgrey;
	border-radius: 10px;
	padding: 10px;
	margin: 10px 0;
}

#accordion .panel .class-for-background-interests{
	background-color: #CCDEE1;
}
.thumbnail{
	padding: 5px;
}

.footer{
	background-color: #eee;
	border-radius: 10px;
	border: 1px solid lightgray;
	list-style: none;

}
.footer a{
	display: block;
	padding: 8px 14px;
    text-decoration: none;
    color: black;
    margin-left: -3px;
}
.footer b{
	display: block;
	padding: 8px 14px;
    text-decoration: none;
    color: black;
}

.footer ul li{
	display: inline-block;
	border-right: 1px solid lightgray;
	font-size: 18px;
}
.footer ul li:first-child{
	padding-right: 20px;
	height: 100%;

}

.footer ul{
	margin: 0;
}
.link-hover{
	background-color: #CCDEE1;
}